<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.psyzon.mapper.psyzonBoardMapper">


<select id="totalList" resultType="org.psyzon.domain.MemberListVO">
		SELECT * FROM (SELECT ROWNUM NUM, MEMBER_LIST.* FROM MEMBER_LIST) WHERE NUM BETWEEN (#{pageNum}-1)*#{size}+1 AND (#{pageNum})*#{size}
</select>

<select id="totalCount" resultType="int">
		select count(*) from member_list
		
		
</select>

<select id="WorkCount" resultType="int">
		select count(*) from member_list where M_CONDITION = '재직'

</select>

<select id="WorkCount2" resultType="int">
		select count(*) from member_list where M_CONDITION = '퇴사'

</select>

<select id="TypeCount" resultType="int">
		select count(*) from member_list where M_TYPE = '정규직'

</select>

<select id="TypeCount2" resultType="int">
		select count(*) from member_list where M_TYPE = '계약직'

</select>

<select id="TypeCount3" resultType="int">
		select count(*) from member_list where M_TYPE = '임시직'

</select>

<select id="TypeCount4" resultType="int">
		select count(*) from member_list where M_TYPE = '파견직'

</select>

<select id="TypeCount5" resultType="int">
		select count(*) from member_list where M_TYPE = '위촉직'

</select>

<select id="TypeCount6" resultType="int">
		select count(*) from member_list where M_TYPE = '일용직'

</select>

<select id = "AcademicAbilityVO" resultType = "org.psyzon.domain.AcademicAbilityVO">
select * from Academic_ability where m_number = #{m_number}  
</select>

<select id="familyinfo" resultType="org.psyzon.domain.FamilyVO">

		select * from member_family where m_number=#{m_number}

</select>

<select id="insuranceinfo" resultType="org.psyzon.domain.InsuranceVO">

		select * from insurance where m_number=#{m_number}
		</select>
<select id="memberinfo" resultType="org.psyzon.domain.MemberInformationVO">

		SELECT B.M_NUMBER, B.M_TYPE, B.M_NAME, A.L_NAMEENG,B.M_NEWDATE,B.M_BYEDATE,B.M_CLASS,B.M_POSITION,A.L_FOREIGN,B.M_RESI_NUMBER,A.L_ADDRESS,A.L_POSTNUMBER,A.L_TELLEPHONE1,A.L_TELLEPHONE2,A.L_TELLEPHONE3,A.L_PHONE1,A.L_PHONE2,A.L_PHONE3,B.M_MAIL,A.L_SNS,A.L_ETC
FROM INFORMATION_LIST A, MEMBER_LIST B WHERE A.M_NUMBER = B.M_NUMBER AND A.M_NUMBER = #{m_number}
		</select>
<select id = "CareerVO" resultType = "org.psyzon.domain.CareerVO">
select * from Career where m_number = #{m_number}  
</select>

<select id = "MiliVO" resultType = "org.psyzon.domain.MiliVO">
select * from Mili_service where m_number = #{m_number}  
</select>

<select id = "PaymentVO" resultType = "org.psyzon.domain.PaymentVO">
select * from Payment where m_number = #{m_number}  
</select>		
<!-- ==================================select================================== -->

<!-- ==================================update================================== -->


  <update id="UpdateMili" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";"  open="DECLARE BEGIN" close=";END;">
      UPDATE mili_service
      SET
        ms_class = #{item.ms_class, jdbcType=VARCHAR},
        ms_group = #{item.ms_group, jdbcType=VARCHAR},
        ms_start_date = #{item.ms_start_date, jdbcType=DATE},
        ms_end_date = #{item.ms_end_date, jdbcType=DATE},
        ms_final_class = #{item.ms_final_class, jdbcType=VARCHAR},
        ms_army_kind = #{item.ms_army_kind, jdbcType=VARCHAR},
        ms_reason = #{item.ms_reason, jdbcType=VARCHAR}
      WHERE m_number = #{item.m_number, jdbcType=VARCHAR}
    </foreach>
  </update>
  
  <update id="UpdateFamily" parameterType="java.util.List">
  
    <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close=";END;">
      UPDATE member_family
      SET
        relation = #{item.relation, jdbcType=VARCHAR},
        f_name = #{item.f_name, jdbcType=VARCHAR},
        f_type = #{item.f_type, jdbcType=VARCHAR},
        f_resi_number = #{item.f_resi_number, jdbcType=VARCHAR},
        f_handi = #{item.f_handi, jdbcType=INTEGER},
        f_per_de = #{item.f_per_de, jdbcType=INTEGER},
        f_hel_in = #{item.f_hel_in, jdbcType=INTEGER},
        f_stay_with = #{item.f_stay_with, jdbcType=INTEGER},
        f_in_tax = #{item.f_in_tax, jdbcType=INTEGER},
        f_mul_child = #{item.f_mul_child, jdbcType=INTEGER}
      WHERE m_key = #{item.m_key, jdbcType=INTEGER}
    </foreach>
  
  </update>
    





</mapper>